.candyFormLabel {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Patua One", serif;
    font-size: 22px;
}

.candyFormInput {
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    padding: 5px;
}

.candyButton, .top-priced-button {
    background: lightsalmon;
    border: 1px solid orangered;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.addCandyTitle {
    font-size: 30px;
}

.orderListItem {
    font-size: 18px;
}