.employees {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.employee {
    background-color: lightblue;
    border: 1px dotted darkblue;
    color: black;
    padding: 0.7rem;
    margin: 0.5rem 0;
    width: 20%;
}

.employee-title {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.formLabel {
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Patua One", serif;
    font-size: 18px;
}

.formInput {
    margin-bottom: 20px;
    display: block;
}